<div>
  <div>
    <a href="/admin/create"> Crear Evento </a>
    <% if (typeof(events) !== 'undefined'){ %>
      <% events.forEach((event) =>{ %>
        <div>
          <div>
            <div id="imgEvent">
                <img src="../../public/img/<%= event.imgEvent %>"alt="eventPhoto">
            </div>
            <p> <%= event.nameTour %> </p>
            <p> <%= event.artist %> </p>
            <div>
              <a href="/admin/edit"> Editar </a>
              <a href="/admin/delete"> Eliminar </a>
            </div>
          </div>
        </div>
      <% }); %>
    <% } %>
  </div>
</div>
